html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.4em;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: #0d385e;
    background-color: #FFFFFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #0a2e4d;
    text-decoration: none;
}

h1 {
    color: #0a2e4d;
    line-height: 1.4em;
    max-width: 14em;
}

h2 {
    font-size: 1.1em;
    line-height: 1.4em;
/*    letter-spacing: 0.08em;*/
    margin-top: 2em;
}

h3 {
    font-size: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
}

img {
    max-width: 12em;
    margin-top: 2em;
}

.underlined {
    text-decoration: underline;
}

.inline {
    display: inline;
}

.fullWidth {
    max-width: 100%;
}

.noMargin {
    margin: 0;
}

.topPad {
    padding-top: 1em;
}

.topMargin {
    margin-top: 2em;
}

.extraTopPad {
    padding-top: 3em;
}

.bottomPad {
    padding-bottom: 4em;
}

.centered {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.hasPadding {
    padding-left: 1.4em;
    padding-right: 1.4em;
}

.shadowedText {
    text-shadow: 0px 1px 2px rgb(200, 200, 200);
}

.boxShadow {
    box-shadow: 0px 12px 16px rgba(80, 43, 3, 0.3);
}

.headerShadow {
    box-shadow: 0px 4px 4px rgba(80, 43, 3, 0.3);
}

.purple {
    color: #C74DE0;
}

.red {
    color: rgb(175, 53, 67);
}

.orange {
    color: #F5A623;
}

.yellow {
    color: rgb(109, 100, 18);
}

.blue {
    color: rgb(81, 140, 196);
}

.white {
    color: white;
}

.orangeGrad{
    background-image: linear-gradient(150deg, #FAD961 0%, #F76B1C 75%);
}

.blueGrad {
    background-image: linear-gradient(150deg, rgb(152, 217, 255) 0%, rgb(0, 76, 99) 60%);
}

.borderOrange {
    border-top: 1px solid #F5A623;
}

.borderYellow {
    border-top: 1px solid #F5ECA2;
}

.borderBlue {
    border-top: 1px solid #CCDDFF;
}

.borderRed {
    border-top: 1px solid #E04D5F;
}

.borderWhite {
    border-top: 1px solid #FFFFFF;
}

.borderBlack {
    border-top: 1px solid #0A0E14;
}

.borderButton {
    border: 1px solid #F76B1C;
    border-radius: 1em;
    margin-left: 1em;
}

.filledButton {
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background-color: #F76B1C;
    padding: 0.1em;
    padding-bottom: 0.2em;
}

.roundedCorners {
    border-radius: 12px;
}

.imageTop {
    display: inline;
}

.headerBar {
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    opacity: 0.98;
    text-align: center;
/*    vertical-align: middle;*/
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    /* border-bottom: 1px solid #888888; */
}

.footerBar {
    padding-bottom: 0.5em;
    font-size: 0.6em;
}

.container {
    min-height: 100%;
    margin: auto;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.heroText {
   font-family: 'Roboto Condensed'; 
}

.heroText.one {
    font-size: 6.8em;
    margin-bottom: 0.7em;
}

.heroText.two {
    font-size: 5.8em;
}

.heroText.three {
    font-size: 4.8em;
}

.heroText.four {
    font-size: 2.8em;
    letter-spacing: 0.05em;
}

.quote {
    font-family: 'Times New Roman', serif;
    font-size: 1.1em;
    line-height: 1.4em;
}

.citation {
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.08em;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.contentCard {
    max-width: 36em;
    margin: auto;
    padding-bottom: 3em;
    background-color: rgba(255, 255, 255, 0.98);
}

.dividerBar {
    height: 1px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #0A0E14;
}

.subBlock {
    display: inline-block;
    overflow: hidden;
    max-width: 40%;
    vertical-align: top;
}

.smallIcon {
    max-height: 5em;
}

.bigButton {
    width: 60%;
    padding-top: 1.2em;
}

.headerIcon {
    max-width: 2em;
}

.desktopHidden {
    visibility: hidden;
}

.mobileHidden {
    visibility: visible;
}

#heroBG {
/*    background-color: antiquewhite;*/
    background-image: url(images/HeroBG_FullBleed_Light.png);
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#sunRiskIcon {
    max-width: 6.5em;
    margin-top: 0;
}

#uvIntro {
    background-image: url("images/Sun.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18em;
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

/*desktop small breakpoint*/
@media only screen and (max-width : 736px) {
    
    .heroText.one {
        font-size: 3.5em;
        margin-bottom: 1em;
    }

    .heroText.two {
        font-size: 3em;
    }

    .heroText.three {
        font-size: 2.5em;
    }

    .heroText.four {
        font-size: 2em;
    }
    
    .subBlock {
        max-width: 100%;
    }
    
    #uvIntro {
        background-size: cover;
    }

}

/*mobile breakpoint*/
@media only screen and (max-device-width : 736px) {
    
    .topPad {
        padding-top: 0.5em;
    }

    .extraTopPad {
        padding-top: 0.5em;
    }
    
    .desktopHidden {
        visibility: visible;
    }
    
    .mobileHidden {
        visibility: hidden;
    } 

    #sunRiskIcon {
        max-width: 4.5em;
    }
}